*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

body{
background:#0b1220;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:#111827;
}

.logo{
font-size:30px;
font-weight:bold;
color:#00d4ff;
}

nav a{
color:white;
text-decoration:none;
margin:10px;
}

.hero{
text-align:center;
padding:100px 20px;
}

.hero h1{
font-size:60px;
color:#00d4ff;
}

.hero p{
margin-top:20px;
}

.hero button{
margin-top:20px;
padding:15px 30px;
border:none;
background:#7c3aed;
color:white;
cursor:pointer;
border-radius:10px;
}

.server{
padding:40px;
text-align:center;
}

.downloads{
padding:40px;
text-align:center;
}

.card{
width:320px;
margin:auto;
background:#111827;
padding:20px;
border-radius:15px;
}

.card img{
width:100%;
border-radius:10px;
}

.card button{
margin-top:15px;
padding:10px;
width:100%;
background:#00d4ff;
border:none;
cursor:pointer;
}

.ann{
padding:40px;
text-align:center;
}

.notice{
background:#111827;
padding:20px;
border-radius:10px;
}

.contact{
padding:40px;
text-align:center;
}

footer{
padding:20px;
text-align:center;
background:#111827;
}
