*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:tahoma;
}

html{
scroll-behavior:smooth;
}

body{
background:#050816;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#0b1220;
position:sticky;
top:0;
z-index:1000;
}

.logo{
font-size:35px;
font-weight:bold;
color:#4f46e5;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
}

.hero{

background:
linear-gradient(
135deg,
#0f172a,
#1e1b4b,
#312e81
);

padding:120px 20px;

text-align:center;

}

.hero h1{

font-size:70px;

text-shadow:
0 0 15px #4f46e5,
0 0 30px #4f46e5;

margin-bottom:20px;

}

.hero p{

font-size:20px;

margin-bottom:30px;

}

.main-btn{

background:#4f46e5;

padding:15px 30px;

font-size:18px;

border:none;

border-radius:15px;

color:white;

cursor:pointer;

transition:.3s;

}

.main-btn:hover{

transform:scale(1.05);

box-shadow:
0 0 20px #4f46e5;

}

.info-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:20px;

padding:40px;

}

.card{

background:#111827;

padding:25px;

border-radius:15px;

transition:.4s;

}

.card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(79,70,229,.5);

}

.news{

padding:40px;

}

.news-card{

background:#111827;

padding:20px;

margin-bottom:20px;

border-radius:15px;

transition:.4s;

}

.news-card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(79,70,229,.5);

}

#gallery{

padding:40px;

}

.gallery{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(300px,1fr));

gap:20px;

}

.gallery img{

width:100%;

border-radius:15px;

cursor:pointer;

transition:.4s;

}

.gallery img:hover{

transform:scale(1.05);

box-shadow:
0 0 25px #4f46e5;

}

#team{

padding:40px;

}

.team-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}

.member{

background:#111827;

padding:20px;

border-radius:15px;

text-align:center;

transition:.4s;

}

.member:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(79,70,229,.5);

}

#about{

padding:40px;

}

footer{

background:#0b1220;

text-align:center;

padding:20px;

margin-top:40px;

}

button{

background:#4f46e5;

color:white;

border:none;

padding:10px 20px;

border-radius:10px;

cursor:pointer;

}

#topBtn{

position:fixed;

bottom:20px;

left:20px;

width:50px;

height:50px;

border:none;

border-radius:50%;

background:#4f46e5;

color:white;

font-size:20px;

display:none;

cursor:pointer;

}
